&VOFPARAMETERS

VOFBDRY_COND = 'periodic' 'periodic' 'periodic' 
                   ! Type of VOF boundary condition in x,y,z direction: 'wet', '90deg','periodic'

TEST_TYPE = 'TYPETEMP'
VOF_ADVECT = 'Dick_Yue'
REFINEMENT = REFINEMENTTEMP
CYLINDER_DIR = CYLDIRTEMP
NORMAL_UP = NORMUPTEMP
use_vofi = F
hshift=-0.1
!=================================================================================================

&end
! end of the namelist
