&VOFPARAMETERS

VOFBDRY_COND = 'periodic' 'periodic' 'periodic' 

! Type of VOF boundary condition in x,y,z direction: 'wet', '90deg','periodic'

! Only write parameters defined in the namelist in the source code.

TEST_TYPE = 'TYPETEMP'
VOF_ADVECT = 'Dick_Yue'
REFINEMENT = REFINEMENTTEMP
CYLINDER_DIR = CYLDIRTEMP
NORMAL_UP = NORMUPTEMP
USE_VOFI = T
DO_ROTATION = F
MIXED_HEIGHTS = F

!=================================================================================================

&end
! end of the namelist
